<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center tech-bar">
			<img src="/img/python-logo.jpeg" width="50" height="50" alt="Python">
			<img src="/img/gae-logo.jpeg" width="50" height="50" alt="GAE">
			<img src="/img/angular-logo1.png" width="50" height="50" alt="Angular">
			<img src="/img/js-logo.png" width="50" height="50" alt="JS">
			<img src="/img/jquery-logo.png" width="50" height="50" alt="jQuery">
			<img src="/img/html5-logo.png" width="50" height="50" alt="HTML5">
			<img src="/img/css3-logo.png" width="50" height="50" alt="CSS3">
			<img src="/img/bootstrap-logo.jpeg" width="50" height="50" alt="Bootstrap">
		</div>
	</div>
</div>

<!-- python, appengine, js, html, csss, angular jquery, get sw registered, make the connection_controller that uses the gapi controller to test all endpoints, then load inital data into local cache, -->